html, body {
	height: 100%;
	width: 100%;
}

* {
	text-align: center;
	font-size: 2rem;
}

.extra-small {
	background: yellow;
	position: absolute;
	margin: 230px 30vw;
}

.small {
	background: green;
	position: absolute;
	margin: 230px 30vw;
}

.medium{
	background: red;
	position: absolute;
	margin: 230px 30vw;
}

.large {
	background: blue;
	position: absolute;
	margin: 230px 30vw;
}

@media (max-width:767px) {
	.extra-small {
		visibility: visible;
	}

	.small {
		visibility: hidden;
	}

	.medium{
		visibility: hidden;
	}

	.large {
		visibility: hidden;
	}
}

@media (min-width:768px) {
	.extra-small {
		visibility: hidden;
	}

	.small {
		visibility: visible;
	}

	.medium{
		visibility: hidden;
	}

	.large {
		visibility: hidden;
	}
}

@media (min-width:1024px) {
	.extra-small {
		visibility: hidden;
	}

	.small {
		visibility: hidden;
	}

	.medium{
		visibility: visible;
	}

	.large {
		visibility: hidden;
	}
}

@media (min-width:1200px) {
	.extra-small {
		visibility: hidden;
	}

	.small {
		visibility: hidden;
	}

	.medium{
		visibility: hidden;
	}

	.large {
		visibility: visible;
	}
}